<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.androidgames.myframework"
    android:installLocation="preferExternal"
    android:versionCode="1"
    android:versionName="1.0">

    <uses-sdk
        android:maxSdkVersion="26"
        android:minSdkVersion="16" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <application
        android:allowBackup="true"
        android:debuggable="true"
        android:icon="@drawable/icon_foreground"
        android:label="myGame"
        tools:ignore="HardcodedDebugMode">
        <activity
            android:name=".GameActivity"
            android:configChanges="keyboard|keyboardHidden|orientation"
            android:label="myGame"
            android:screenOrientation="landscape">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".AndroidBasicStarter"
            android:label="@string/title_activity_android_basic_starter"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".LifeCycleTest"
            android:label="@string/title_activity_life_cycle_test"
            android:configChanges="keyboard|keyboardHidden|orientation"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity
            android:name=".SingleTouchTest"
            android:label="Single Touch Test"
            android:configChanges="keyboard|keyboardHidden|orientation"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity
            android:name=".AccelerometerTest"
            android:label="Accelerometer Test"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".AssetsTest"
            android:label="Assets Test"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ExternalStorageTest"
            android:label="External Storage Test"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".FullScreenTest"
            android:label="Fullscreen Test"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".KeyTest"
            android:label="Key Test"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".MediaPlayerTest"
            android:label="Media Player Test"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".MultiTouchTest"
            android:label="Multitouch Test"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".RenderViewTest"
            android:label="Render View Test"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ShapeTest"
            android:label="Shape Test"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".SoundPoolTest"
            android:label="Sound Pool Test"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".BitmapTest"
            android:label="Bitmap Test"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".FontTest"
            android:label="Font Test"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".SurfaceViewTest"
            android:label="Surface View Test"
            android:theme="@style/AppTheme.NoActionBar" />
    </application>

</manifest>